*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    font-family: 'Lato', sons-serif;
    text-align: center;
    font-size: 35px;
}

.imagem {
justify-content: center;

}


.container{
    display: flex;
    justify-content: center;
   
}
 .comboBox{
padding-left: 35px;
 }

.contato{
    
}




